body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("images/space.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.logo {
    max-width: cover;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

header {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

header .subtitle {
    font-size: 1.2em;
    color: #ccc;
    margin-top: 10px;
}

header h1 {
    font-size: 3em;
    margin: 0;
    color: #ffe81f;
}

.episodes {
    padding: 60px 20px;
}

.episodes h2 {
    text-align: center;
    font-size: 2em;
    color: #ffe81f;
}

.episode {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.episode img {
    width: 300px;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.episode.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .episode,
  .episode.reverse {
    flex-direction: column;     /* スマホでは縦に並べる */
    text-align: center;
  }

  .episode img {
    width: 90%;
  }
}

.episode .text {
    flex: 1;
}

.episode h3 {
    font-size: 1.5em;
    color: #ffe81f;
}

.episode p{
    margin: 5px 0;
}

.characters {
  padding: 60px 20px;
  text-align: center;
}

.characters h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.character {
  display: inline-block;
  width: 180px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.05); /* 少し透けた白背景 */
  padding: 10px;
  border-radius: 10px;
}

.character img {
  width: 100%;
  border-radius: 8px;
}

.character h3 {
  margin-top: 10px;
  font-size: 1.1em;
  color: #ffe81f;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8); /* 黒背景でしっかり区切る */
  color: #aaa;
  font-size: 0.9em;
  margin-top: 60px;
}

.lightsaber {
  background: black;
  color: white;
  padding: 10px 20px;
  border: 2px solid limegreen;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lightsaber.active {
  background: limegreen;
  box-shadow: 0 0 15px limegreen, 0 0 30px limegreen;
  color: black;
}

/* 星の背景キャンバス */
#starfield {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* 背景に置く */
  width: 100%;
  height: 100%;
  background: black;
}
